:root{
  --brown: #856965;
  --white: #BFACA6;
  --blue: rgb(0,4,236) 

}
body{
  background: var(--background-color);
  color: var(--text-color);
  font-weight: var(--font-weight);
  transition: 0.3 ease-in-out, color 0.6s ease-in-out;
}
body.light{
  --background-color: var(--white);
  --text-color: var(--white);
  --font-weight: 400;
}
body.dark{
  --background-color: var(--brown);
  --text-color: var(--blue);
  --font-weight: 500;
}